.home-main{
    // padding-top: 13vh;
    min-height: 87vh;
    .home-img{ 
        display: grid;
        align-items: center;
        justify-content: center;
        .home-img-main{
            height: 87vh;
        }

    }
    
}
@media only screen and (max-width: 600px) {
    .home-main{
        .home-img{ 
            .home-img-main{
                height: 60vh;
            }
        }
    }
}
@media only screen and (max-width: 500px) {
    .home-main{
        .home-img{ 
            .home-img-main{
                height: 50vh;
            }
        }
    }
}
@media only screen and (max-width: 400px) {
    .home-main{
        .home-img{ 
            .home-img-main{
                height: 45vh;
            }
        }
    }
}
@media only screen and (max-width: 350px) {
    .home-main{
        .home-img{ 
            .home-img-main{
                height: 40vh;
            }
        }
    }
}