header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 13vh;
    padding: 0 2rem;
    background-color: #042E60;
}
.header-sub{
    justify-content: flex-end;
}
.nav{
    display: flex;
    align-items: center;
    .nav-sub-link{
        .nav-link{
            color: white;
        }
    }
}
.nav-logo{
    height: 12.5vh;
}

.nav-link{
    margin: 0 2rem;
    text-decoration: none;
    cursor: pointer;
    &:hover{
        color: black;
    }
}
.nav-btn{
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: white;
    visibility: hidden;
    opacity: 0;
    font-size: 1.8rem;
}


@media only screen and (max-width: 1024px) {
    .nav-btn{
        display: block;
        visibility: visible;
        opacity: 1;
    }
    .nav-logo{
        height: 10vh;
    }
    header nav{
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        background-color: white;
        transition: 1s;
        transform: translateY(-150vh);
        z-index: 1111;
    }
    header .responsive-nav{
        transform: none;
    }
    header{
        border-radius: 0;
        height: 11vh;
        box-shadow: none;
    }

    nav .nav-close-btn{
        position: absolute;
        top: 2rem;
        right: 2rem;
        color: #787878;
    }
    nav .nav-link{
        font-size: 1.5rem;
        color: #042E60;
    }
}
